<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="icon" 
		type="image/png" 
		href="http://jlukecarlson.com/static/favicon.ico">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Whats Happening</title>
		<meta name="description" content="Whats Happening on the Web - PennApps Hack" />
		<meta name="keywords" content="whats happening, pennapps, penn, apps, luke, carlson, news, info, tech, music" />
		<meta name="author" content="Luke Carlson and Chris Beyer" />
		<link rel="apple-touch-icon-precomposed" href="/static/iphone-logo.png"/>
		<link rel="shortcut icon" href="/static/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component2.css" />
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" /></script>
		<script type="text/javascript" src="/static/js/aggregator.js"></script>
		<!--<script type="text/javascript" src="js/swipe.js"></script>-->
		<script type="text/javascript" src="/static/js/main.js"></script>
	<!--	<script type="text/javascript" src="http://jquerymobile.com/demos/1.3.0-beta.1/js/jquery.mobile-1.3.0-beta.1.js"></script>-->
		<script src="/static/js/modernizr.custom.js"></script>

	</head>
	<body>
		<div id="vs-container" class="vs-container">
			
			<header class="vs-header">
				<h1 style="margin-bottom: 0px;">What's Happening!</h1>
				<em>quick and easy news about whats' going on</em><br/><br><br>
				<ul class="vs-nav">
					<li><a href="#section-1">News</a></li>
					<li><a href="#section-2">Sports</a></li>
					<li><a href="#section-3">Movies</a></li>
					<li><a href="#section-4">Tech</a></li>
					<li><a href="#section-5">Music</a></li>
				</ul>
			</header>
			<div class="vs-wrapper">
				<section id="section-1">
					<div class="vs-content">
						<!--<h2>Top News</h2>-->
						<div class="col">
							<div id="times"></div>
						</div>
					</div>
				</section>
				<section id="section-2">
					<div class="vs-content">
						<!--<h2>Sports</h2>-->
						<div class="col">
							<div id="sports"></div>
						</div>
					</div>
				</section>
				<section id="section-3">
					<div class="vs-content">
						<!--<h2>Top Movies</h2>-->
						<div class="col">
							<div id="movies"></div>
						</div>
					</div>
				</section>
				<section id="section-4">
					<div class="vs-content">
						<!--<h2>Top Technology</h2>-->
						<div class="col">
							<div id="tech"></div>
						</div>
					</div>
				</section>
				<section id="section-5">
					<div class="vs-content">
						<!--<h2>Top Songs</h2>-->
						<div class="col">
							<div id="music"></div>
						</div>
					</div>
				</section>
			</div>
		</div><!-- /vs-container -->
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/hammer.min.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>
